<!-- Footer -->
<footer class="footer bg-primary mt-5 text-white ">
    <div class="container">
        <div class="row">
            <!-- Social Media Section -->
            <div class="col-md-6 text-start">
              <img src="https://www.technolife.ir/image/static_technolife-title.svg" alt="Your Image">
          </div>
            <div class="col-md-6 d-flex justify-content-end text-white">
                <div class="social-media text-end ">
                    <a href="https://t.me/yourtelegram " class="bi bi-telegram text-white h3" target="_blank"></a>
                    <a href="https://instagram.com/yourinstagram" class="bi bi-instagram text-white h3" target="_blank"></a>
                </div>
            </div>
            
        </div>
        <hr>
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-3">
                <h5>ستون ۱</h5>
                <ul class="column-links">
                    <li><a href="#">لینک ۱</a></li>
                    <li><a href="#">لینک ۲</a></li>
                    <li><a href="#">لینک ۳</a></li>
                    <li><a href="#">لینک ۴</a></li>
                </ul>
            </div>
            <!-- Column 2 -->
            <div class="col-md-3">
                <h5>ستون ۲</h5>
                <ul class="column-links">
                    <li><a href="#">لینک ۱</a></li>
                    <li><a href="#">لینک ۲</a></li>
                    <li><a href="#">لینک ۳</a></li>
                    <li><a href="#">لینک ۴</a></li>
                </ul>
            </div>
            <!-- Column 3 -->
            <div class="col-md-3">
                <h5>ستون ۳</h5>
                <ul class="column-links">
                    <li><a href="#">لینک ۱</a></li>
                    <li><a href="#">لینک 2</a></li>
                    <li><a href="#">لینک 3</a></li>
                    <li><a href="#">لینک 4</a></li>
                </ul>
            </div>
            <!-- Column 4 -->
            <div class="col-md-3">
                <h5>ستون ۴</h5>
                <ul class="column-links">
                    <li><a href="#">لینک ۱</a></li>
                    <li><a href="#">لینک ۲</a></li>
                    <li><a href="#">لینک ۳</a></li>
                    <li><a href="#">لینک ۴</a></li>
                </ul>
            </div>
        </div>
    </div>
    </footer>
    
    
    
    
    
    
    