{% load static %}

<header class="bg-white ">

<nav class="container-fluid">
    <div class="row bg-white">

        <!-- ______IMG IN NAVBAR_______ -->
        <div class="col-md-2 d-flex justify-content-center mt-lg-3 ">
            <a class=" mt-3 " href="./index.html">

            </a>
            <a class="mt-3" href="./index.html">

            </a>
        </div>

        <!-- _______INPUT NAVBAR IN NAVBAR_______ -->
        <div class="col-md-5  mt-3 ">
            <div class="bg-search d-flex rounded-4 justify-content-start highlighted">
                <i class="bi bi-search text-secondary px-4 h3 mt-3"></i>
                <input 
                    type="search" 
                    placeholder= "محصول، برند یا دسته مورد نظرتان را جستجو کنید" 
                    class="noborderfocus px-3 w-100 bg-search border-0  rounded-4" 
                    value=""
                    id="search-input">
            </div>
            <div id="search-suggestions">محبوب‌ترین سرچ‌ها</div>   
        </div>
        <div class="overlay" id="overlay"></div>

        <!-- _______BARAYE RESPONSIV_______ -->
        <div class="col-md-3"></div>

        <!-- ______INPUT BUTTON IN NAVBAR_______ -->
        <div class="col-md-2 text-center  mt-3">
            <div class="mt-1 d-flex">
                <button type="button" class="btn btn-light border border-2 p-2 d-lg-block d-none mx-1">ورود | ثبت نام</button>
                <button type="button" class="btn btn-light border border-2 p-2 d-lg-block d-none mx-1"><i class="bi bi-bag-check"></i></button>                   
            </div>
        </div>

    </div>
</nav>



<!-- _______PAIIN NAVBAR_______ -->
<nav>
    <div class="container-fluid d-lg-block d-none">
        <div class="row mt-3 ms-3">
            <div class="col-md-1 menu-item ms-5">
                <ul class="menu">
                    {% for animal in animal_types %}
                        <li class="menu-item">
                            <a href="#">{{ animal.name }}</a>
                            <ul class="submenu">
                                {% for main_category in animal.main_categories.all %}
                                    <li class="submenu-item">
                                        <a href="{% url 'main_category' main_category.id %}" class="border rounded-3">{{ main_category.name }}

                                            <i class="bi bi-arrow-left text-end"></i>
                                        </a>
                                        <ul class="subsubmenu">
                                            {% for sub_category in main_category.sub_categories.all %}
                                                <li class="subsubmenu-item">
                                                    <a href="{% url 'sub_category' sub_category.id %}" class="border rounded-3">{{ sub_category.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- ______Fixed bottom options MOBILE_________ -->
<div class="fixed-bottom fixed-bottom-options">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-3  d-md-none d-grid">
                <span class=" text-center">

                    <i class="bi bi-house h3"></i>

                </span>
                <span class=" text-colorforbuy"><small><small>صفحه اصلی</small></small></span>

            </div>
            <div class="col-3 d-md-none d-grid ">
                <span class=" text-center ">

                    <i class="bi bi-ui-checks-grid text-colorforbuyLow  h3"></i>
                </span>
                <span class=" text-colorforbuy"><small><small>محصولات</small></small></span>

            </div>
            <div class="col-3 d-md-none d-grid">
                <span class=" text-center">

                    <i class="bi  bi-cart h3"></i>

                </span>
                <span class=" text-colorforbuy"><small><small>سبدخرید</small></small></span>

            </div>
            <div class="col-3 d-md-none d-grid">
                <span class=" text-center ">

                    <i class="bi bi-person-fill h3"></i>
                
                </span>
                <span class=" text-colorforbuy"><small><small>پروفایل</small></small></span>

            </div>
        </div>
    </div>
</div>


</header>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var menuItems = document.querySelectorAll('.menu-item > a');

        menuItems.forEach(function(item) {
            item.addEventListener('click', function(e) {
                e.preventDefault();
                var submenu = item.nextElementSibling;
                submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
            });
        });

        var submenuItems = document.querySelectorAll('.submenu-item > a');

        submenuItems.forEach(function(item) {
            item.addEventListener('click', function(e) {
                e.preventDefault();
                var subsubmenu = item.nextElementSibling;
                subsubmenu.style.display = subsubmenu.style.display === 'block' ? 'none' : 'block';
            });
        });
    });
</script>